credentials.yml
Systems.txt
token.txt
.vscode/settings.json
Notes
Outputs/variables.yaml
Playbooks/CaptureSystem.err
Playbooks/CaptureSystem.log
.gitignore
Outputs/systems.json
Outputs/volumesets.json
Outputs/duplicates.json
Outputs/host_groups.json
Outputs/hosts.json
Outputs/initiators.json
Outputs/tasks.json
Outputs/volumes.json
